ul{
    width: 180px;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid green;
}
li{
    background: #f4f4f4;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
a{
    color: #333;
    display: block;
    padding: .2em 0 .2em 1.5em;
    background: url(activa.png) no-repeat 3px;
}
a:hover{
    background: white url(inactiva.png) no-repeat 3px; 
}